*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
background:linear-gradient(135deg,#74ebd5,#9face6);
min-height:100vh;
display:flex;
justify-content:center;
align-items:center;
}

.container{
width:90%;
max-width:1100px;
background:white;
display:flex;
border-radius:20px;
overflow:hidden;
box-shadow:0 15px 35px rgba(0,0,0,.2);
}

.left{
width:40%;
padding:40px;
}

.left h2{
color:#2563eb;
margin-bottom:10px;
}

.left p{
color:#555;
margin-bottom:25px;
}

.input-box{
margin-bottom:18px;
}

.input-box label{
display:block;
margin-bottom:8px;
font-weight:500;
}

.input-box input{
width:100%;
padding:13px;
border:1px solid #ccc;
border-radius:8px;
outline:none;
}

.input-box input:focus{
border-color:#2563eb;
}

button{
width:100%;
padding:13px;
background:#2563eb;
color:white;
border:none;
border-radius:8px;
cursor:pointer;
font-size:16px;
margin-bottom:15px;
}

button:hover{
background:#1d4ed8;
}

.back{
text-align:center;
margin-top:15px;
}

.back a{
color:#2563eb;
text-decoration:none;
font-weight:600;
}

.right{
width:60%;
background:linear-gradient(135deg,#2563eb,#4f46e5);
color:white;
display:flex;
justify-content:center;
align-items:center;
flex-direction:column;
text-align:center;
padding:40px;
}

.right img{
width:200px;
margin-bottom:20px;
}

.right h1{
margin-bottom:15px;
}

.right p{
line-height:28px;
}

@media(max-width:900px){
.container{
flex-direction:column;
}

.left,
.right{
width:100%;
}

.right img{
width:160px;
}
}